#welcome {
  text-align: center;
  margin: 0 auto;
  width: 60vw;
  max-width: 625px;
}

.home-link {
  color: black;
  font-weight: bold;
}

#home-logo {
  width: 55vw;
  margin-bottom: 30px;
  max-width: 625px;
}
