h3 {
  color: #F57676;
}

a {
  color: black;
  cursor: pointer;
}

img {
  border-radius: 6px;
}

textarea.form-control {
  resize: none;
}

.skillsList {
  list-style-type: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.remove-button {
  cursor: pointer;
}

.dropdown-menu > li {
  cursor: pointer;
}

@media only screen and (min-width: 768px){

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .well {
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
  }

  img {
    height: 180px;
    margin-bottom: 4px;
  }

  #photo-container {
    height: 260px;
    border-radius: 4px 0px 0px 0px;
    border-right-width: 0px;
    text-align: center;
    padding-top: 5px;
  }

  #bio-container {
    height: 260px;
    border-radius: 0px 4px 0px 0px;
  }

  textarea.form-control {
    height: 170px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    border-top-width: 0px;
  }

  #skillsTL-container {
    border-right-width: 0px;
  }

  .list {
    border-top-width: 0px;
  }

  .list > a {
    vertical-align: middle
  }

}

@media only screen and (max-width: 767px){

  body {
    text-align: center;
  }

  #profile-picture {
    width: 55%;
  }

  textarea.form-control {
    height: 25vh;
  }

  .skillsList {
    padding: 0;
  }

}
