a {
  color: black;
}

img {
  height: 130px;
}

input {
  margin-bottom: 16px;
}

h2 {
  /*padding: 15px 20px;*/
  margin: auto;
}

.row {
  margin-top: 30px;
}

.well {
  height: 220px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#local-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#linkedin-logo {
  padding-left: 12px;
}
