
h3 {
  color: #F57676;
}

form {
  margin: 0 20vw 15vw 20vw;
}

.error-login-link {
  color: #a94442;
  font-weight: bold;
}

#termsCon a  {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#skillsTL, #skillsTO {
  margin-bottom: 3px;;
}

.skillsToShow {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
  border-color: #F57676;
	margin: 3px;
	padding: 2px 4px;
	display: inline-block;
}

.skillButton {
  font-weight: bold;
	cursor: pointer;
}

#photo {
  width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  cursor: pointer;
}
