<p>Welcome to the board!</p>
<table id='board' class='table'>
	<thead affix affix-options="{placeholder: true}" id='boardHead'>
		<tr class='row'>
			<th class='col-md-1'>
				User ID
			</th>
			<th class='col-md-3'>
				Search users by technologies they know: 
				<input class='boardSkillSearch' type='text' ng-model='search.skillsTO'><br>
				User knows:
			</th>
			<th class='col-md-3'>
				Search users by technologies they need help with: 
				<input class='boardSkillSearch' type='text' ng-model='search.skillsTL'><br>
				User needs help with:
			</th>
			<th class='col-md-4'>
				User message
			</th>
			<th class='col-md-1'>
				Contact
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class='row' ng-repeat='user in users | filter: search:strict'>
			<td class='col-md-1'>{{user.username}}</td>
			<td class='col-md-3'><span class='boardSkills' ng-repeat='skill in user.skillsTO track by $index'>{{skill}}</span></td>
			<td class='col-md-3'><span class='boardSkills' ng-repeat='skill in user.skillsTL track by $index'>{{skill}}</span></td>
			<td class='col-md-4'>{{user.bio}}</td>
			<td class='col-md-1'><a ng-click='open(user.email)'><span class='glyphicon glyphicon-envelope' id='contactGlyph' ng-click='modalEmail(user.email)'></span></a></td>
		</tr>
	</tbody>
</table>

<script type='text/ng-template' id='loggedInModal.html'>
        <div class='modal-header'>
            <h3 class='modal-title'>Contact User</h3>
        </div>
        <div class='modal-body'>
	  <p>User email: {{userEmail}}</p>
        </div>
        <div class='modal-footer'>
            <button class='btn' type='button' ng-click='close()'>Close</button>
        </div>
    </script>


<script type='text/ng-template' id='notLoggedInModal.html'>
        <div class='modal-header'>
            <h3 class='modal-title'>Contact User</h3>
        </div>
        <div class='modal-body'>
	  <p>Need to be logged in to contact user</p>
	  <span><a href='#/login' ng-click='close()'>Log in</a></span>
	  <span><a href='#/signUp' ng-click='close()'>Sign up</a></span>
        </div>
        <div class='modal-footer'>
            <button class='btn' type='button' ng-click='close()'>Close</button>
        </div>
    </script>
