<link rel="stylesheet" href="./public/style/board.css">


<center><h3 id='boardHeader'>Welcome to the board!</h3></center>

<div class='table' id="board" style='table-layout: fixed;'>

  <div class="row">
    <div class="col-sm-2 hidden-xs">
      &nbsp
    </div>
    <div class="col-xs-12 col-sm-5">
      <input class="form-control search" id="search-to" type='text'  placeholder="Search users by what they know" ng-model='search.skillsTO'>
    </div>
    <div class="col-xs-12 col-sm-5">
      <input class="form-control search" id="search-tl" type='text'  placeholder="Search users by what they need help with" ng-model='search.skillsTL'>
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col-sm-2">
      <h4>User</h4>
    </div>
    <div class="col-sm-5">
      <h4>Technologies user knows</h4>
    </div>
    <div class="col-sm-5">
      <h4>Technologies user needs help with</h4>
    </div>
  </div>

  <div class="row user" ng-repeat="user in users | filter: search:strict | orderObjectBy : 'username'">
    <!-- Above xs -->
    <div ng-click="goToUser(user.username)" class="hidden-xs col-sm-1 username-container">
      <b class="username">{{user.username}}</b>
    </div>
    <div ng-click="goToUser(user.username)" class="hidden-xs col-sm-1">
      <img class="profile-picture" src="{{user.photoURL || user.social.github.photoURL || user.social.linkedin.photoURL || avatar}}">
    </div>
    <div class="hidden-xs col-sm-5">
      <span class='skills' ng-repeat="skill in user.skillsTO track by $index">{{skill}}</span>
    </div>
    <div class="hidden-xs col-sm-5">
      <span class='skills' ng-repeat="skill in user.skillsTL track by $index">{{skill}}</span>
    </div>
    <!-- xs -->
    <div ng-click="goToUser(user.username)" class="col-xs-6 visible-xs username-container">
      <b class="username">{{user.username}}</b>
      <img class="profile-picture" src="{{user.photoURL || user.social.github.photoURL || user.social.linkedin.photoURL || avatar}}">
    </div>
    <div class="visible-xs col-xs-6">
      <b class="mobile-skill-label">User knows</b>
      <span class='skills' ng-repeat="skill in user.skillsTO track by $index">{{skill}}</span>
      <b class="mobile-skill-label">User needs help with</b>
      <span class='skills' ng-repeat="skill in user.skillsTL track by $index">{{skill}}</span>
    </div>
  </div>

</div>
