<link rel="stylesheet" href="./public/style/compProf.css">

<center><h3>Just a few more things to complete your profile</h3></center>

<form name="userForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine || pressed && userForm.username.$invalid || userExists, 'has-success': userForm.username.$valid && userForm.username.$dirty }">
		<label>Username</label>
		<input class='form-control' name='username' type='text' ng-model='username' placeholder='Enter username' required>
		<p ng-show="userForm.username.$invalid && userForm.username.$dirty || pressed && userForm.username.$invalid" class="help-block">Username required</p>
		<p ng-show="userExists" class="help-block">Another user has already registered with this username, please choose another username</p>
	</div>


	<div class="form-group" ng-class="{ 'has-error' : !!!selectedSkillsTL.length && userForm.skillsTL.$touched || !!!selectedSkillsTL.length && pressed}">
		<label>Technologies that you would like help with</label>
		<input class='form-control' id="skillsTL" name='skillsTL' type='text' ng-model='selectedSkillTL' bs-options='state for state in skillsListTL' placeholder='Enter technologies' bs-typeahead data-limit=15 >
		<span class='skillsToShow' ng-repeat='skill in selectedSkillsTL track by $index'>{{skill}}<span class='skillButton' ng-click='remSkillTL($index)'>  x</span></span>
		<p ng-show="userForm.skillsTL.$touched && !!!selectedSkillsTL.length || pressed && !!!selectedSkillsTL.length" class="help-block">Need to choose at least one technology</p>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : !!!selectedSkillsTO.length && userForm.skillsTO.$touched || !!!selectedSkillsTO.length && pressed }">
		<label>Technologies that you could help other users with</label>
		<input name='skillsTO' type='text' class='form-control' id="skillsTO" ng-model='selectedSkillTO' bs-options='state for state in skillsListTO' placeholder='Enter technologies' bs-typeahead data-limit=15 >
		<span class='skillsToShow' ng-repeat='skill in selectedSkillsTO track by $index'>{{skill}}<span class='skillButton' ng-click='remSkillTO($index)'>  x</span></span>
		<p ng-show="userForm.skillsTO.$touched && !!!selectedSkillsTO.length || pressed && !!!selectedSkillsTO.length" class="help-block">Need to choose at least one technology</p>
	</div>

	<div class="form-group">
		<label>More details about what you can offer and/or what you're looking for (optional)</label>
		<textarea type="text" class="form-control" ng-model="bio" placeholder="Describe what you can offer and/or what you're looking for help with"></textarea>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : userForm.terms.$invalid && pressed}">
		<center id="termsCon">
			<input type='checkbox' ng-model='terms' name='terms' required>
			<span> I have read and understand the </span><a ng-click="openModal()">terms of use</a>
			<p class="help-block" ng-show="userForm.terms.$invalid && pressed">Need to acknowledge that you have read and understand the terms of use</p>
		</center>
	</div>

	<center>
		<input type='submit' id='signUpSubmit' class='btn btn-default' value='Complete profile' name='signUp' ng-click='compProf()'>
	</center>
</form>


<script type='text/ng-template' id='termsOfUseModal.html'>
<div class='modal-header'>
	<h3 class='modal-title'>Terms of Use</h3>
</div>
<div class='modal-body'>
	<p>
	By signing up you understand and agree to the following terms:
	</p>
	<ul id='termsList'>
		<li>You are using this site at your own discretion and Casa Code-unale is not responsible or liable for any misfortune or harm you may experience as a result of using this site</li>
		<li>As a user of the site you accept that you may be contacted by other users with the contact information you provide</li>
		<li>As a user of casa you agree to be respectful of other users</li>
	</ul>
</div>
<div class='modal-footer'>
	<button class='btn btn-default' type='button' ng-click='close()'>Close</button>
</div>
</script>
