<link rel="stylesheet" href="./public/style/home.css">

<div id="welcome">
  <img class='center-block' id='home-logo' src='./public/images/casaLogo.png'>
  <p>
    Casa code-unale (bad pun on the Italian term 'casa comunale' which means 'town hall') is a place where programmers can find help with languages or technologies they are trying to learn.
  </p>
  <p>
    The site is meant to connect programmers looking for an experience similar to a language exchange where two people trying to learn each others' languages will meet for an hour and talk for 30 minutes in each language. Casa Code-unale could connect, for instance, a Java expert trying to learn C with a C expert trying to learn Java so they could exchange their expertise.
  </p>
  <!--<p>
    The idea is similar to a language exchange where two people trying to learn each others' languages will meet for an hour and talk for 30 minutes in each language. Casa Code-unale could connect, for instance, a Java expert trying to learn C with a C expert trying to learn Java so they could exchange their expertise.
  </p>-->
  <p>
    Visit <a class="home-link" href="#/board">the Board</a> to see the programmers you can meet and <a class="home-link" href="#/signup">sign up</a> to get in touch with them!
  </p>
</div>
