<div>

<img class='center-block' id='homeHeader' src='/public/casaLogo.png'>

<p> Casa code-unale (bad pun on the Italian term 'casa comunale' which means 'town hall') is a place where programmers can find help with languages or technologies they are trying to learn.
</p>
<p>
 The idea is similar to a language exchange where two people trying to learn each others' languages will meet for an hour and talk for 30 minutes in each language. Casa Code-unale could connect, for instance, a Java expert trying to learn C with a C expert trying to learn Java so they could exchange their expertise.
</p>
</div>


