<form role='form'>
    <div class='form-group'><label>Username:</label></div>
    <input class='form-control' type='text' ng-model='username'/>
    <div class='form-group'><label>Password:</label></div>
    <input class='form-control' type='password' ng-model='password'/>
    <br>
    <button class='btn btn-default' type='submit' ng-click='login()'>Log in</button>
</form>
<div class='alert alert-danger' id='loginWarning' style='display: none'>
  <!--<a class="close" ng-click='closeLoginWarning()' aria-label="close">&times;</a>-->
  <strong>Error</strong> This combination of username and password does not exist
</div>
