<div class='container' id='profile'>
<h2>Profile Information</h2><br>
<img id='profilePhoto' src='{{userData.photoURL || userData.social.github.photoURL || userData.social.linkedin.photoURL}}'>

<div id='profGenInfoCon' ng-mouseenter='showButtonsBasic()' ng-mouseleave='hideButtonsBasic()'>
<h5>General information</h5>
<ul>
  <li>
    <span>Username: </span>
    <span>{{userData.username}}</span>
  </li>
<li>
  <span>First name: </span>
  <input type='text' class='form-control basicInfoInput' id='firstNameEdit' name='firstNameEdit' ng-model='userData.local.firstName' ng-submit='hideInputFirstName()'>
  <span id='infoFirstName'>{{userData.local.firstName}}</span>
  <span class='glyphicon glyphicon-pencil buttonBasic' id='firstNameButton' ng-click='showInputFirstName()'></span>
</li>
<li>
  <span>Last name: </span>
  <input type='text' class='form-control basicInfoInput' id='lastNameEdit' name='lastNameEdit' ng-model='userData.local.lastName' ng-submit='hideInputLastName()'>
  <span id='infoLastName'>{{userData.local.lastName}}</span>
  <span class='glyphicon glyphicon-pencil buttonBasic' id='lastNameButton' ng-click='showInputLastName()'></span>
</li>
<li>
  <span>Email: </span>
  <input type='email' class='form-control basicInfoInput' id='emailEdit' name='emailEdit' ng-model='userData.local.email' ng-submit='hideInputEmail()' required>
  <span id='infoEmail'>{{userData.local.email}}</span>
  <span class='glyphicon glyphicon-pencil buttonBasic' id='emailButton' ng-click='showInputEmail()'></span>
</li>
</ul>
</div>



<div id='profSkillsTLCon' ng-mouseenter='showSkillsTLEdit()' ng-mouseleave='hideSkillsTLEdit()'>
  <h5>Technologies you need help with</h5>
  <ul>
    <li ng-repeat='skill in userData.skillsTL track by $index'>
      <span>{{skill}}</span>
      <span class='glyphicon glyphicon-remove buttonTL' ng-click='remSkillTL($index)'></span>
    </li>
  </ul>
  <div id='profSkillTLInputHolder'> </div>
  <span ng-click='showSkillsTLInput()' class='buttonTL' id='showSkillsTLInput'>Add technologies you need help with <span class='glyphicon glyphicon-plus'></span></span>
  <input id='skillsTLInput' type='text' class='form-control' ng-model='selectedSkillTL' bs-options='state for state in skillsListTL' placeholder='Add technologies you need help with' bs-typeahead data-limit=15>
</div>



<div id='profSkillsTOCon' ng-mouseenter='showSkillsTOEdit()' ng-mouseleave='hideSkillsTOEdit()'>
  <h5>Technologies you can help others with</h5>
  <ul>
    <li ng-repeat='skill in userData.skillsTO track by $index'>
      <span>{{skill}}</span>
      <span class='glyphicon glyphicon-remove buttonTO' ng-click='remSkillTO($index)'></span>
    </li>
  </ul>
  <div id='profSkillTOInputHolder'> </div>
  <span ng-click='showSkillsTOInput()' class='buttonTO' id='showSkillsTOInput'>Add technologies you need help with <span class='glyphicon glyphicon-plus'></span></span>
  <input id='skillsTOInput' type='text' class='form-control' ng-model='selectedSkillTO' bs-options='state for state in skillsListTO' placeholder='Add technologies you need help with' bs-typeahead data-limit=15>
</div>



<div ng-mouseenter='showBioEdit()' ng-mouseleave='hideBioEdit()'>
<h5>Description of what you're looking for and/or what you can offer</h5>
  <span id='infoBio'>{{userData.bio}}</span>
  <span class='glyphicon glyphicon-pencil' id='bioEditButton' ng-click='showBioInput()'></span>
  <textarea type='text' class='form-control' id='bioEditInput' ng-model='userData.bio' ng-submit='hideBioInput()'></textarea>

</div>




<br>
<button id='updateButton' ng-click='updateUserData()' ng-show='modified'>Save changes</button>
<span id='confirm' >Changes saved <span class='glyphicon glyphicon-ok' ></span></span>
</div>
