
<link rel="stylesheet" href="./public/style/user.css">


<div class='table'>

  <div class='row'>
    <div class="col-xs-12 col-sm-12">
      <h2>User: {{user.username}}</h2>
    </div>
    <div class='col-xs-4 col-sm-3'>
      <img id='user-photo' src='{{user.local.photoURL || user.social.github.photoURL || user.social.linkedin.photoURL || avatar}}'>
    </div>
    <div class='hidden-xs col-sm-4'>
      <div>
        <h4 class="skills-tl-header">User needs help with:</h4>
        <span class="skill" ng-repeat="skill in user.skillsTL">{{skill}}</span>
      </div>
      <div>
        <h4>User can help others with:</h4>
        <span class="skill" ng-repeat="skill in user.skillsTO">{{skill}}</span>
      </div>
    </div>
    <div class="col-xs-8 col-sm-5">
      <h4 id="bio-header" ng-if="user.bio.length > 0">User description</h4>
      <p id="description" ng-if="user.bio.length > 0">{{user.bio}}</p>
      <h4 id="empty-bio-contact" ng-if="!user.bio.length > 0">Contact User</h4>
      <h4 ng-if="user.bio.length > 0">Contact User</h4>
      <p id="email" ng-show="in">{{user.local.email || user.social.linkedin.email || user.social.github.email}}</p>
      <div id="signup-link">
        <a class="form-control" href="#/signup" ng-hide="in">Sign up to contact {{user.username}}</a>
      </div>
    </div>
  </div>
  <div class="row visible-xs">
    <div class='col-xs-6'>
      <div>
        <h4 class="skills-tl-header">User needs help with:</h4>
        <span class="skill" ng-repeat="skill in user.skillsTL">{{skill}}</span>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>User can help others with:</h4>
      <span class="skill" ng-repeat="skill in user.skillsTO">{{skill}}</span>
    </div>
  </div>

  <!--==============LinkedIn==============-->
  <div class='row social' id="linkedin" ng-show='user.social.linkedin.id'>
    <div class='col-xs-12 social-header' id="linkedin-header">
      <img id="linkedin-header-image" src="https://s3.amazonaws.com/leosimmons/linkedin_logo_54.png">
      <h4 id="linkedin-header-text">Information</h4>
    </div>
    <div class="col-xs-12 well" id="linkedin-info">
      <div class="linkedin-in-subheader">Summary</div>
      <p>
        {{user.social.linkedin.summary}}
      </p>
      <div class="linkedin-in-subheader" ng-show="user.social.linkedin.positions">Current Position</div>
      <div ng-repeat='position in user.social.linkedin.positions'>
        <b>{{position.title}}, {{position.company.name}}</b>
        <p>{{position.summary}}</p>
        <a id="linkedin-link" href="{{user.social.linkedin.profileUrl}}" target="_blank">Visit {{user.username}}'s LinkedIn profile</a>
      </div>
    </div>
  </div>

  <!--==============GitHub==============-->
  <div class="row social" id="github-container" ng-show='user.social.github.id'>
    <div class="col-xs-4 col-sm-2 social-header">
      <img id="github-image" src="https://s3.amazonaws.com/leosimmons/github_logo.png">
      <h4 id="github-header">Repos</h4>
    </div>
    <div class="col-xs-12">
      <div class="link-for-repo" ng-show="in&&repos==='unAuth'">
        <a class="form-control" href="/auth/github" type="submit">Link your GitHub account to see {{user.username}}'s repos</a>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="link-for-repo" ng-hide="in">
        <a class="form-control" href="#/signup" type="submit">Sign up to see {{user.username}}'s repos</a>
      </div>
    </div>
    <div class="col-xs-8 col-sm-10" id="repo-search-container" ng-show="in&&repos!=='unAuth'">
      <input class="form-control" id="repo-search" placeholder="Search repos by main language" type="text" ng-model="repoSearch">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 repo-container" ng-show="in&&repos!=='unAuth'" ng-repeat="repo in repos | filter: {language: repoSearch}">
      <div class="repo well">
        <div class="repo-name">{{repo.name}}</div>
        <p>{{repo.description | limitTo:100}}</p>
        <div>Main language: </span>{{repo.language}}</div>
        <div>Number of stars: {{repo.stargazers_count}}</div>
        <div>Number of forks: {{repo.forks_count}}</div>
        <a class="repo-link" href="{{repo.html_url}}" target="_blank">See repo on GitHub</a>
      </div>
    </div>
  </div>
</div>
