.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }



#termsCon input  {
    display: inline;
}

#termsCon a  {
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#termsCon span {
    display: inline;
}

/*=================Nav=================*/
/*#nav{
	width: 100%;

	top: 0px;
}*/
#board{
	table-layout:fixed;
	width:100%;
}
.navbar-brand {
    padding: 0px;
}
#casaLogo {
	/*display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;*/
	height: 40px;
	margin: 4px 0px 0px 20px;
}

#beta {
    color: #A5B1B5;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    font-size:150%;
    line-height: 50px;

}
.navbar.navbar-default {
	 cursor: pointer;
}


/*=================Login=================*/
#loginWarning {
    text-align: center;
    display: none;
    width: 70%;
    margin: 20px auto;
}

#loginWarning strong {
    margin-right: 10px;
}


/*=================Home=================*/

#homeHeader {
    width: 50%;
    margin-bottom: 25px;
}




/*=================Sign Up=================*/

#termsList {
    list-style-type: disc;
}

.termsWarning {
    color: red;
}

/*#signUpSubmit {
    display: inline-block;
    margin: auto;
}*/
/*=================Board=================*/
#boardHeader {
    margin: 0 auto 30px auto;
    width: 40%;
    text-align: center;
}

#boardHead {
	   background: white;
	   width: 100%;
	   z-index: 2;
}
#boardCon{
	
}
/*
thead#boardHead.ng-isolate-scope.affix {
    width: 720px;
}
*/
#tbody {
       height: 1100;
}
#bio {
	width: 500px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contact {
    text-align: center;
}

#contactGlyph {
	      color: #F57676;
	      cursor: pointer;
	      margin: 0 auto;
}

#board img{
	height: 70px;
	width: 70px;

}


#firstName {
	width: 500px;
}
#signUp {
	margin: 30px auto 30px auto;
}

#signUp img, a, p, form, input, button {
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#skillsTL {

}


.boardSkills {
	border-width: 1px;
	border-style: solid;
	border-color: #F57676;
	margin: 1px;
	display: inline-block;
	padding: 1px 3px 1px 3px;
}


.form-control {
	margin-bottom: 8px;
}

.skillButton {
	color: black;
	cursor: pointer;
}

.skillsToShow {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #F57676;
	margin: 3px;
	padding: 4px;
	display: inline-block;
}


/*=================Profile=================*/


.buttonTL, .buttonTO, .buttonBasic, #bioEditButton {
	     display: none;
	     cursor: pointer;
}

ul {
	list-style-type: none;
}
#profGenInfoCon {
	margin-bottom: 40px;
}

#profSkillsTLCon, #profSkillsTOCon{
	margin-bottom: 15px;
}

#bioEditInput{
	display: none;

}

#firstNameEdit, #lastNameEdit, #emailEdit, #skillsTLInput, #skillsTOInput {
	display: none;
}

#confirm {
	display: none;
	margin-left: auto;
	margin-right: auto;
	color: green;
}

#updateButton {
	float: left;
}

/*#skillsTLCon {
	min-height: 80px;
}

#skillsTOCon {
	min-height: 80px;
ws}*/
#showSkillsTLInput, #showSkillsTOInput {
	height: 20px;
}
#profSkillTLInputHolder, #profSkillTOInputHolder {
	min-height: 20px;
}

/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
	border-radius: 3px;   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px #F57676 inset, 0 0 8px #F57676;
    outline: 0 none;
}*/

@media only screen and(max-width: 768px){
	#profile {
		text-align: center;
	}

	/*.boardSkillSearch {
		border-color: #F57676;
	}*/

	/*.buttonTL, .buttonTO {
		display: inline;
	}

	#bioButton {
		display: inline;
	}*/
}



















