.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}





/*=================Nav=================*/
/*
#nav-profile {
    color: #F57676;
}

#nav-settings {
    color: #F57676;
}

#nav-logout {
    color: #F57676;
}
*/
/*
#board{
	table-layout:fixed;
	width:100%;
}
*/

/*
#beta {
    color: #A5B1B5;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    font-size:150%;
    line-height: 50px;
    text-decoration: none;
}
*/
/*
.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}
*/


/*  > li {
    float: none;
    display: inline-block;
  }
}

/*#nav-board {
  float: none;
  margin: 0;
}
/*#nav-board {
    font-style: italic;
    color: #F57676;
}*/


/*.navbar.navbar-default {
	 cursor: pointer;
}*/
/*=================Login=================*/
#loginWarning {
    text-align: center;
    display: none;
    width: 70%;
    margin: 20px auto;
}

#loginWarning strong {
    margin-right: 10px;
}


/*=================Home=================*/

#homeHeader {
    width: 50%;
    margin-bottom: 25px;
}

#visitBoard {
  color: black;
  text-decoration: none;
}

/*=================Sign Up=================*/


/*=================Board=================*/


/*=================Profile=================*/


.buttonTL, .buttonTO, .buttonBasic, #bioEditButton {
	     display: none;
	     cursor: pointer;
}

ul {
	list-style-type: none;
}
#profGenInfoCon {
	margin-bottom: 40px;
}

#profilePhoto {
  height: 120px;
  width: 120px;
}

#profSkillsTLCon, #profSkillsTOCon{
	margin-bottom: 15px;
}

#bioEditInput{
	display: none;

}

#firstNameEdit, #lastNameEdit, #emailEdit, #skillsTLInput, #skillsTOInput {
	display: none;
}

#confirm {
	display: none;
	margin-left: auto;
	margin-right: auto;
	color: green;
}

#updateButton {
	float: left;
}

#showSkillsTLInput, #showSkillsTOInput {
	height: 20px;
}
#profSkillTLInputHolder, #profSkillTOInputHolder {
	min-height: 20px;
}


@media only screen and(max-width: 768px){
	#profile {
		text-align: center;
	}
}

/*=================User=================*/
