/*#casaLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}*/
#bio {
	width: 500px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#board img{
	height: 70px;
	width: 70px;

}

#casaLogo {
	margin-top: 25px;
}

#firstName {
	width: 500px;
}
#signUp {
	margin: 30px auto 30px auto;
}

#signUp img, a, p, form, input, button {
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#skillsTL {

}


.boardSkills {
	border-width: 1px;
	border-style: solid;
	border-color: #F57676;
	margin: 1px;
	display: inline-block;
	padding: 1px 3px 1px 3px;
}


.form-control {
	margin-bottom: 8px;
}

.skillButton {
	color: black;
	cursor: pointer;
}

.skillsToShow {
	border-width: 1px;
	border-style: solid;
	border-radius: 8%;
	color: #F57676;
	margin: 3px;
	padding: 4px;
	display: inline-block;
}